BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
SYSCONFIG MASTER_SPI_PORT=ENABLE MCCLK_FREQ=62 ;

# Input Clock — 16 MHz oscillator X1 at FPGA pin A7
LOCATE COMP "clk" SITE "A7" ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33 ;
FREQUENCY NET "clk" 16.000000 MHz ;

# Updated high-speed output constraint in blink.lpf
LOCATE COMP "clk_out_32" SITE "A12" ;
IOBUF PORT "clk_out_32" IO_TYPE=LVCMOS33 DRIVE=12 SLEW=FAST ;

# External LEDs — active-high, Bank 1 LVCMOS33
LOCATE COMP "led[0]" SITE "R16" ; # D0
LOCATE COMP "led[1]" SITE "P16" ; # D1
LOCATE COMP "led[2]" SITE "M13" ; # D2
LOCATE COMP "led[3]" SITE "N14" ; # D3

IOBUF PORT "led[0]" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33 DRIVE=4 ;